{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block styles %}
{{super()}}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
      <div class="navbar">
        <div class="navbar-inner">
          {% if current_user.is_authenticated() %} Welcome {{ current_user.login }}! {% endif %}
          <ul class="nav nav-tabs">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if not current_user.is_authenticated() %}
              <li><a href="{{ url_for('login') }}">log in</a>
            {% else %}
             <li><a href="{{ url_for('logout') }}">log out</a> </li>
             <li> <a href="{{ url_for('question') }}">Ask the question</a></li>
           {% endif %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
         </ul>
     </div>
    </div>
{%- endblock navbar %}

{% block content %}
  <div class="content">
  {% if questions %}
    <table width="100%" class="table table-hover"> 
    {% for quest in questions %}
      <tr>
        <td width="15">{{ loop.index }}</td>
        <td width="75">{{ quest.user_id }}</td>
        <td><a href="/post/{{ quest.id }}"> - {{ quest.text }}</a></td> 
      </tr>
    {% endfor%}
    </table>
  {% else %}
    <p>no single issue</p>
  {% endif %}
  </div>
{% endblock %}


